<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{99,40}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{197,172},{99,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonPlaySel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{101,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,44}</string>
                <key>textureRect</key>
                <string>{{153,172},{101,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>introProfile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{149,146}</string>
                <key>spriteSourceSize</key>
                <string>{175,146}</string>
                <key>textureRect</key>
                <string>{{2,172},{149,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nyaLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-8}</string>
                <key>spriteSize</key>
                <string>{230,168}</string>
                <key>spriteSourceSize</key>
                <string>{373,298}</string>
                <key>textureRect</key>
                <string>{{2,2},{230,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{239,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abef9401160c487ecf944488a6dd4a16:5e372a3118b2f85e04fcc48adaadfedb:d8262aade98c5042ace66a849ab96659$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
