<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{396,160}</string>
                <key>spriteSourceSize</key>
                <string>{420,174}</string>
                <key>textureRect</key>
                <string>{{8,1280},{396,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPlaySel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{404,168}</string>
                <key>spriteSourceSize</key>
                <string>{420,174}</string>
                <key>textureRect</key>
                <string>{{612,1240},{404,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>introProfile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{596,584}</string>
                <key>spriteSourceSize</key>
                <string>{700,582}</string>
                <key>textureRect</key>
                <string>{{8,688},{596,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>naveMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{544,392}</string>
                <key>spriteSourceSize</key>
                <string>{544,408}</string>
                <key>textureRect</key>
                <string>{{612,688},{544,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nyaLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-32.5}</string>
                <key>spriteSize</key>
                <string>{920,672}</string>
                <key>spriteSourceSize</key>
                <string>{1491,1191}</string>
                <key>textureRect</key>
                <string>{{8,8},{920,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1024,1448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf5f7588d5780e3395b0afb6be97a11:324d7cceb7965bb7e43ee5dd18315d56:d8262aade98c5042ace66a849ab96659$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
