<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botProfile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{1010,416},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botProfileOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,62}</string>
                <key>spriteSourceSize</key>
                <string>{54,62}</string>
                <key>textureRect</key>
                <string>{{952,416},{54,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{1020,348},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joystick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{952,348},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{340,254}</string>
                <key>spriteSourceSize</key>
                <string>{339,254}</string>
                <key>textureRect</key>
                <string>{{898,4},{340,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{4,4},{890,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,128}</string>
                <key>spriteSourceSize</key>
                <string>{50,128}</string>
                <key>textureRect</key>
                <string>{{898,348},{50,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1156,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b0a46815df65a392223ce534fb609a6:b0691e7003cb0e12fd775c3df0c8c97a:d9a61af917d26893cbfb8ffb904e12ee$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
