<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{890,500}</string>
                <key>spriteSourceSize</key>
                <string>{889,500}</string>
                <key>textureRect</key>
                <string>{{556,6},{890,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{292,300}</string>
                <key>spriteSourceSize</key>
                <string>{291,299}</string>
                <key>textureRect</key>
                <string>{{646,904},{292,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lunarLander.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,326}</string>
                <key>spriteSourceSize</key>
                <string>{234,326}</string>
                <key>textureRect</key>
                <string>{{556,1424},{234,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-24.5}</string>
                <key>spriteSize</key>
                <string>{192,152}</string>
                <key>spriteSourceSize</key>
                <string>{191,351}</string>
                <key>textureRect</key>
                <string>{{804,1654},{192,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-4.5}</string>
                <key>spriteSize</key>
                <string>{192,240}</string>
                <key>spriteSourceSize</key>
                <string>{191,351}</string>
                <key>textureRect</key>
                <string>{{556,1758},{192,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2.5,-4.5}</string>
                <key>spriteSize</key>
                <string>{188,192}</string>
                <key>spriteSourceSize</key>
                <string>{191,351}</string>
                <key>textureRect</key>
                <string>{{798,1424},{188,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>montana3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{176,70}</string>
                <key>spriteSourceSize</key>
                <string>{175,70}</string>
                <key>textureRect</key>
                <string>{{918,1212},{176,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>montana4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{264,90}</string>
                <key>spriteSourceSize</key>
                <string>{264,89}</string>
                <key>textureRect</key>
                <string>{{646,1212},{264,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-125.5}</string>
                <key>spriteSize</key>
                <string>{2000,144}</string>
                <key>spriteSourceSize</key>
                <string>{2000,393}</string>
                <key>textureRect</key>
                <string>{{404,6},{2000,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-106.5}</string>
                <key>spriteSize</key>
                <string>{2000,182}</string>
                <key>spriteSourceSize</key>
                <string>{2000,393}</string>
                <key>textureRect</key>
                <string>{{214,6},{2000,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-97.5}</string>
                <key>spriteSize</key>
                <string>{2000,200}</string>
                <key>spriteSourceSize</key>
                <string>{2000,393}</string>
                <key>textureRect</key>
                <string>{{6,6},{2000,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,106}</string>
                <key>spriteSourceSize</key>
                <string>{256,106}</string>
                <key>textureRect</key>
                <string>{{646,1310},{256,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,82}</string>
                <key>textureRect</key>
                <string>{{556,904},{512,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{128,22}</string>
                <key>spriteSourceSize</key>
                <string>{128,82}</string>
                <key>textureRect</key>
                <string>{{798,1624},{128,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moon.png</string>
            <key>size</key>
            <string>{1062,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f8aa31b172c229452a45ca61d4e6a60:942958f99a7c4df73e1c893dca05e313:517ca079a8da312da18622e6f09e6257$</string>
            <key>textureFileName</key>
            <string>moon.png</string>
        </dict>
    </dict>
</plist>
